<div class="input-group">
  <span class="input-group-btn">
    <span class="btn btn-primary btn-file">
      <input type="file"
             ng-model="model[options.key]"
             accept="image/*"
             name="files"
             maxsize="{{to.imageUploadOptions.max-size}}"
             base-sixty-four-input="base-sixty-four-input"
             />

    </span>
  </span>
  <input type="text" value="{{model[options.key].filename}}" readonly="readonly" class="form-control"/>
  <img ng-if="model[options.key].url" src="{{model[options.key].url}}" width="200px" />
</div>

<!-- base-sixty-four-input="base-sixty-four-input"  -->
